<!DOCTYPE html>

<html>

<head>
    <title>Edit Movie Rating</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>


<h1>✏ Edit Movie Rating</h1>

<div class="card">

    <h2>{{ movie[1] }}</h2>

    <p>
        Current Rating: ⭐ {{ movie[2] }}
    </p>

    <form method="POST">

        <label>New Rating</label>

        <input
            type="number"
            name="rating"
            min="1"
            max="5"
            required
        >

        <button type="submit">
            💾 Save Changes
        </button>

    </form>

    <br>

    <a href="/rate" class="back-btn">
        ← Back to Movies
    </a>

</div>


</body>

</html>
